:root{
    --blanco:#fff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisclaro: #DEF9F3;

}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory; */
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to top,var(--grisclaro) 0%, var(--blanco) 100%);
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}  
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

span{
    font-size: 1.7rem;
}
@media (min-width: 768px) {
    .tamaño{
        font-size: 1.7rem;
    }
}
@media (min-width: 360px) {
    .tamaño{
        font-size: 1rem;
    }
}

.contenedor{
    max-width: 100rem;
    margin:0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding:1rem 3rem ;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
.sombra{
    -webkit-box-shadow: 3px 9px 13px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 3px 9px 13px -6px rgba(0,0,0,0.67);
    box-shadow: 3px 9px 13px -6px rgba(0,0,0,0.67);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
/* UTILIDADES */
.w-100{
    width: 100%;    
}
@media (min-width: 768px) {
    .w-100{
        width:auto;
    }
}

.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
/* BARRA DE NAVEGACION */
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    
    }
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
        
    }
}
.navegacion-principal a{
    display: block;
    text-align: center;
    color:var(--blanco);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.hero{
    background-image: url(../imagenes/programa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    background-color: rgb(0,0,0,.7);
    background-color:rgb(0 0 0 /70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
}
.contenido-hero h2, 
.contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}

/* SERVICIOS */
/* .servicios,
.navegacion-principal{
    scroll-snap-align: center;
    scroll-snap-stop: always;
} */
@media (min-width: 768px) {
    .servicios{
        display: grid;
        /* grid: 200px 800px (rows)/ 300px 300px (columns); */
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicio p{
    line-height: 2;
    text-align: center;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

/* CONTACTO */

.formulario{
    background-color: var(--gris);
    width: min(60rem,100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}
/* .contenedor-campos{

} */
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 /3 ;
        
    }
}
.campo label{
    color: var(--blanco);
    margin-bottom: .5rem;
    font-weight: bold;
    display: block;
}
.campo textarea{
    margin-bottom: 1rem;
    height: 15rem;
}
@media (min-width: 768px) {
    .campo textarea{
        height: 18rem;
    }
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

}

/* FOOTER  */
.footer{
    text-align: center;
}